@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

	.bike-nav {
		border: 1px solid #777;
		border-radius: 8px;
		padding: 0 1em;
		
	}	
	
	.bike-nav-button {
		@apply m-2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded transition-colors duration-300;
	}
}