@reference "../../../app/globals.css";


.bikeNav{
	@apply border-gray-800 p-2 m-2;
}

.bikeNavButton {
	@apply bg-blue-500 hover:bg-blue-700 text-white font-bold mx-2 px-4 rounded transition-colors duration-300;
}

.bikeNavText {
	@apply text-blue-800 p-2;
}
.bikeNavLabel {
	@apply mr-2 p-1
}
