@reference "../../../app/globals.css";


.bikeWrapper {
	@apply grid grid-cols-2 gap-4 bg-dark-glass border border-glass-border rounded-glass p-2 text-white max-w-6xl;
}

.bikeDisplay {

}

.bikeTitle {

}	

.bikePhotos {

}

