
@reference "../../../app/globals.css";


.rideTable {
	min-width: 90vw;
}

.rideTable .rideColumn {
	min-width: 30vw;
}

.rideColRight {
	text-align: right;
}

.rideTable,
.rideTable tr,
.rideTable th,
.rideTable td {
	border: 1px solid #aaa;
	padding: .2em .5em;
}



