
@reference "../../../app/globals.css";


.navButtons {
	@apply bg-gray-200 border-gray-800 px-2 rounded ;
}

.navButton {
	@apply bg-blue-500 hover:bg-blue-700 text-white font-bold px-4 rounded transition-colors duration-300;
}

.navText {
	@apply text-blue-800 p-2;
}

.ridenavForm {
	@apply inline-block border-gray-800 p-2 m-2
}

.ridenavYear {
	@apply border border-gray-800 rounded p-2 mx-2;
}

.ridenavView {
	display: inline-block;
	text-align: center;
	color: darkblue;
}

.ridenavLabel {
	@apply mr-2 p-1
}

.statsContainer {
	background-color: #0c090980;
	border: 1px solid #557;
	border-radius: 8px;
	color: #fff;
	margin: 1em;
	padding: 1em;
}

.summaryTable {
	margin-bottom: 1em;
	border-bottom: 1px solid #557;
}
.summaryTable th,
.summaryTable td {
	text-align: left;
	padding: 0 .2em;
}


.statsTable {
	border: 1px solid #557;
	padding: 1em;
	min-width: 50vw;
}

.statsTable tr {
	border: 1px solid #557;
}

.statsTable th,
.statsTable td {
	border: 1px solid #557;
	text-align: left;
}
