@reference "../../../app/globals.css";

.rideContainer {
	@apply bg-dark-glass border border-glass-border rounded-glass p-2 text-white max-w-6xl;
}

.rideItem {
    @apply bg-dark-glass border border-glass-border rounded-glass p-4 m-4; 
}

.rideBody {
	max-width: 60vw;
}

.rideBody img {
	max-width: 40vw;
}



