
@reference "../../../app/globals.css";


.navButtons {
	@apply bg-gray-200 border-gray-800 px-2 rounded ;
}

.navButton {
	@apply bg-blue-500 hover:bg-blue-700 text-white font-bold px-4 rounded transition-colors duration-300;
}

.navText {
	@apply text-blue-800 p-2;
}

.ridenavForm {
	@apply inline-block border-gray-800 p-2 m-2 text-black;
}

.ridenavYear {
	@apply border border-gray-800 rounded p-2 mx-2;
}

.ridenavView {
	display: inline-block;
	text-align: center;
	color: darkblue;
}

.ridenavLabel {
	@apply mr-2 p-1
}

