@reference "../../../app/globals.css";


.statsContainer {
	@apply bg-dark-glass border border-glass-border rounded-glass p-2 text-white max-w-6xl;
}

.summaryTable {
	@apply bg-dark-glass border border-glass-border rounded-glass p-4 m-4; 
}
.summaryTable th,
.summaryTable td {
	text-align: left;
	padding: 0 .2em;
}


.statsTable {
	border: 1px solid #557;
	padding: 1em;
	min-width: 40vw;
}

.statsTable tr {
	border: 1px solid #557;
}

.statsTable th,
.statsTable td {
	border: 1px solid #557;
	text-align: left;
}

.statsBold {
	@apply font-bold;
}